*png
*ipynb
!weight_visualization.ipynb
*svg
*pyc
*pt
*txt
*pickle
*pdf
*zip
**/tf_logs
environment.yml
data/
training/.vscode/launch.json
training/config.yml
training/evaluation_result.json
training/normal_param.json
training/test_without_gnn.py
training/pairing.json
misc/re_format_pickle.py
